<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:buf="http://typo3.org/ns/JosefGlatz/BeuserFastswitch/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:if condition="{users}">
	<f:then>
		<f:for each="{users}" as="user">
			<div class="beuser-fastswitch__useritem">
				<div class="beuser-fastswitch__useritem-icon">
					<a href="#"
						 class="t3js-contextmenutrigger"
						 data-table="be_users"
						 data-uid="{user.uid}"
						 title="Open contextmenu for user id={user.uid}">
						<be:avatar backendUser="{user.uid}" showIcon="TRUE"/>
					</a>
				</div>
				<a class="beuser-fastswitch__useritem-title"
					 href="{be:uri.editRecord(uid: user.uid, table: 'be_users', returnUrl: returnUrl)}"
					 target="_new"
					 title="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.user.userNameTitle', arguments: {0:user.username})}{f:if(condition: '{user.description}', then: ' ({user.description})')}">
					<div class="dropdown-table-title-ellipsis">{user.realName}</div>
					<span class="text-muted dropdown-table-title-ellipsis">{user.username}</span>
				</a>
				<div class="beuser-fastswitch__useritem-actions">
					<f:render section="Info" arguments="{user: user}"/>
					<f:if condition="!{user.isDisabled}">
						<f:render section="Switch" arguments="{user: user}" />
					</f:if>
				</div>
			</div>
		</f:for>
	</f:then>
</f:if>

<f:section name="Info">
	<f:if condition="{isVersion10}">
		<f:then><f:variable name="onclickValue">top.TYPO3.InfoWindow.showItem('be_users', '{user.uid}'); return false;</f:variable></f:then>
		<f:else><f:variable name="onclickValue">top.launchView('be_users', '{user.uid}'); return false;</f:variable></f:else>
	</f:if>
	<a class="dropdown-table-actions-btn dropdown-table-actions-btn-edit" href="#"
		 onclick="{onclickValue}"
		 title="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.user.btn.info', arguments: {0:user.username})}">
		<core:icon identifier="actions-document-info" alternativeMarkupIdentifier="inline"/>
	</a>
</f:section>

<f:section name="Switch">
	<buf:switchUser backendUser="{user}" />
</f:section>
</html>
