<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:buf="http://typo3.org/ns/JosefGlatz/BeuserFastswitch/ViewHelpers"
			data-namespace-typo3-fluid="true">

<h3 class="dropdown-headline">
	{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.title')}
</h3>
<hr>
<f:if condition="{users}">
	<f:then>
		<form action="" role="search" name="beuser-fastswitch-search" id="beuser-fastswitch-search-form">
			<div class="form-group">
				<div class="form-control-holder">
					<div class="form-control-icon">
						<core:icon identifier="apps-toolbar-menu-search" size="small"/>
					</div>
					<div class="form-control-clearable">
						<input
							type="text"
							class="form-control t3js-clearable"
							placeholder="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.search.placeholder')}"
							id="beuser-fastswitch-search-mask"
							title="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.search.title')}"
							autocomplete="off"/>
					</div>
				</div>
			</div>
		</form>
		<div id="beuser-fastswitch-ajax-result">
			<f:if condition="{users}">
				<f:comment><!-- @TODO: TYPO3_8-7 support removal: Fluid condition can be removed --></f:comment>
				<buf:condition.isCoreVersion8>
					<f:then>
						<f:render partial="TYPO3_8-7/UserList" arguments="{users: users}"/>
					</f:then>
					<f:else>
						<f:render partial="UserList" arguments="{users: users}"/>
					</f:else>
				</buf:condition.isCoreVersion8>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<p>
			{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.noUsers')}
		</p>
	</f:else>
</f:if>
</html>
