<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:be.pageRenderer
	includeJavaScriptModules="{
        0: '@josefglatz/beuser-fastswitch/BeuserFastswitch.js',
        1: '@josefglatz/beuser-fastswitch/BeuserFastswitch-es6.js'
    }"
/>

<h3 class="dropdown-headline">
	{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.title', extensionName: 'beuser_fastswitch')}
</h3>
<hr>
<f:if condition="{users}">
	<f:then>
		<form action="" role="search" name="beuser-fastswitch-search" id="beuser-fastswitch-search-form">
			<div class="form-group dropdown-item-text">
				<div class="form-control-holder">
					<div class="form-control-clearable-wrapper">
						<input
							type="text"
							class="form-control form-control-clearable t3js-clearable"
							placeholder="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.search.placeholder', extensionName: 'beuser_fastswitch')}"
							id="beuser-fastswitch-search-mask"
							title="{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.search.title', extensionName: 'beuser_fastswitch')}"
							autocomplete="off"/>
					</div>
				</div>
			</div>
		</form>
		<div id="beuser-fastswitch-ajax-result">
			<f:if condition="{users}">
				<f:render partial="UserList" arguments="{users: users}"/>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<p>
			{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.noUsers',  extensionName: 'beuser_fastswitch')}
		</p>
	</f:else>
</f:if>
</html>
