<html xmlns:buf="http://typo3.org/ns/JosefGlatz/BeuserFastswitch/ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:if condition="{users}">
	<f:then>
		<f:comment><!-- @TODO: TYPO3_8-7 support removal: Fluid condition can be removed --></f:comment>
		<f:if condition="{isVersion8}">
			<f:then>
				<f:render partial="TYPO3_8-7/UserList" arguments="{users: users}"/>
			</f:then>
			<f:else>
				<f:render partial="UserList" arguments="{users: users}"/>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<p>
			{f:translate(key: 'toolbar.beuser.fastswitch.dropdown.noUsers')}
		</p>
	</f:else>
</f:if>
</html>
